<!-- Comments -->
<div id="comments-container" class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card card-secondary">
      <div class="card-header">
        <span class="card-title"><%= t('models.comment.many')%{element: object.name} %></h3>
      </div>

      <div class="card-body">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <table id="comments-list" class="table table-sm">
            <% object.comments.each do |comment| %>
              <tr>
                <% username = comment.created_by ? comment.created_by.name : t('users.messages.unknown-user') %>
                <td><span title="<%= I18n.l(comment.created_at) %>"><%= I18n.l(comment.created_at.to_date) %></span> - <%= username %></td>
                <td><%= comment.annotation %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
      <%= render partial: 'comments/form', locals: {comment: object.comments.new} %>
    </div>
  </div>
</div>
