<div class="accordion active" id="accordionNewComment">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOptions" aria-expanded="false" aria-controls="collapseOptions">
        <%= I18n.t('actions.new-comment') %>
      </button>
    </h2>

    <div id="collapseOptions" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionNewComment">
      <div class="accordion-body">
        <%= form_with(model: comment) do |form| %>
          <%= form.hidden_field :commentable_type, value: comment.commentable_type %>
          <%= form.hidden_field :commentable_id, value: comment.commentable_id %>

          <div class="card-body">
            <%= errors comment %>

            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <%= form.text_area :annotation, class: 'form-control form-control-border', autocomplete: 'off', placeholder: t('comments.form.placeholder.annotation'), required: true %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <div class="form-action">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="float-right">
                    <%= form.submit t('actions.save'), class: 'btn btn-primary' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>