<%= form_with(model: url) do |form| %>
  <div class="card-body">
    <%= errors @url %>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="form-group row">
          <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <%= form.text_field :name, class: 'form-control form-control-border', autocomplete: 'off', placeholder: t('urls.form.placeholder.name'), required: true %>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="custom-control custom-switch float-left mt-2 float-lg-right">
              <%= form.check_box :is_enabled, class: 'form-control custom-control-input' %>
              <%= form.label :is_enabled, class: 'control-label custom-control-label text-muted' %>
            </div>
          </div>
        </div>
        
        <div class="input-group mb-3" data-controller="urls">
          <div class="input-group-prepend">
            <span class="input-group-text"><%= AppDomain.base_url %>/</span>
          </div>

          <%= form.text_field :slug, 'data-urls-target': 'slug', class: 'form-control', autocomplete: 'off', placeholder: t('urls.form.placeholder.slug'), required: true %>
          <a data-action="click->urls#reload_slug", class="btn btn-sm btn-default pt-2 px-3" title="<%= t('urls.form.action.slug-reload') %>">
            <%= fa_icon 'rotate-right' %>
          </a>
        </div>

        <div class="form-group row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <%= form.text_field :original_url, class: 'form-control form-control-border', autocomplete: 'off', placeholder: t('urls.form.placeholder.original_url'), required: true %>
          </div>
        </div>

        <%= render partial: 'tags', locals: {form: form} %>
        <div class="accordion active" id="accordionAdvancedOptions">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button <%= 'collapsed' unless @url.advanced_options? %>" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOptions" aria-expanded="false" aria-controls="collapseOptions">
                <%= I18n.t('urls.form.action.advanced-options') %>
              </button>
            </h2>

            <div id="collapseOptions" class="accordion-collapse collapse <%= 'show' if @url.advanced_options? %>" aria-labelledby="headingOne" data-bs-parent="#accordionAdvancedOptions">
              <div class="accordion-body">
                <div class="form-group row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <%= form.text_area :description, class: 'form-control form-control-border', autocomplete: 'off', placeholder: t('urls.form.placeholder.description'), required: false %>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <%= form.datetime_field :starts_at, class: 'form-control form-control-border', placeholder: t('urls.form.placeholder.starts_at'), required: false %>
                    <small class="text-muted"><%= t('urls.form.placeholder.starts_at') %></small>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <%= form.datetime_field :ends_at, class: 'form-control form-control-border', placeholder: t('urls.form.placeholder.ends_at'), required: false %>
                    <small class="text-muted"><%= t('urls.form.placeholder.ends_at') %></small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <div class="form-action">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <%= link_to t('actions.list'), urls_path, class: 'btn btn-secondary' %>

          <div class="float-right">
            <%= form.submit (%w(edit update).include?(action_name) ? t('actions.update') : t('actions.save')), class: 'btn btn-primary' %>
            <%= link_to t('actions.show'), @url, class: 'btn btn-default' if %w(edit update).include?(action_name) %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
