      <div class="form-group row">
        <div class="accordion active" id="accordionTags">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTags">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTags" aria-expanded="false" aria-controls="collapseTags">
                <%= I18n.t('urls.form.action.tags') %>
              </button>
            </h2>

            <div id="collapseTags" class="accordion-collapse collapse" aria-labelledby="headingTags" data-bs-parent="#accordionTags">
              <div class="accordion-body">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <%= form.collection_select :tag_ids, @tags, :id, :name, {}, { multiple: true, class: "col-lg-12" } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>