<!-- Content Header -->
<% if current_user %>
  <section class="content-header pt-4">
    <div class="container">
      <div class="row mb-2">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1 class="m-0 float-left"><%= t 'urls.actions.list' %></h1>
          <%= link_to t('urls.actions.new'), new_url_path, class: 'btn btn-primary float-right' %>
        </div>
      </div>
    </div>
  </section>

  <!-- Content -->
  <section class="content">
    <div class="container" id="users-list">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <table class="table">
            <thead>
              <tr>
                <th><%= t('urls.attributes.name') %></th>
                <th class="d-none d-sm-table-cell"><%= t('urls.attributes.original_url') %></th>
                <th><%= t('urls.attributes.published') %></th>
                <th class="d-none d-sm-table-cell"><%= t('urls.attributes.created_by') %></th>
                <th><span class="sr-only"><%= t('actions.actions') %></span></th>
              </tr>
            </thead>
            <tbody>
              <% @urls.each do |url| %>
                <tr>
                  <td><%= url.name %></td>
                  <td class="d-none d-sm-table-cell"><%= url.original_url %></td>
                  <td><%= t "#{url.published?}" %></td>
                  <td class="d-none d-sm-table-cell"><%= url.created_by&.username %></td>
                  <td class="col-1 text-nowrap">
                    <div class="float-right">
                      <%= link_to '', url_path(url), class: 'mx-1 fa fa-eye', title: t('urls.actions.show') %>
                      <%= link_to '', edit_url_path(url), class: 'mx-1 fa fa-edit', title: t('urls.actions.edit') %>
                      <%= link_to '', url_path(url), data: { turbo_method: :delete, turbo_confirm: t('urls.actions.confirm-destroy')%{url: url.name} }, class: 'mx-1 text-danger fa fa-times', title: t('urls.actions.destroy') %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="paginate">
            <small><%= page_entries_info @urls, entry_name: '' %></small>
            <div class="pagination pagination-sm">
              <%= paginate @urls %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
