<!-- Content -->
<section class="content pt-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card card-primary">
          <div class="card-header">
            <span class="card-title"><%= t('models.url.one') + ': ' + @url.name %></h3>
          </div>

          <div class="card-body row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <dl class="row">
                <dt class="col-sm-3"><%= I18n.t('urls.attributes.slug') %></dt>
                <dd class="col-sm-9"><%= @url.short_url %></dd>

                <dt class="col-sm-3"><%= I18n.t('urls.attributes.original_url') %></dt>
                <dd class="col-sm-9"><%= @url.original_url %></dd>

                <dt class="col-sm-3"><%= I18n.t('urls.attributes.published') %></dt>
                <dd class="col-sm-9"><%= I18n.t(@url.published?) %></dd>

                <dt class="col-sm-3"><%= I18n.t('urls.attributes.is_enabled') %></dt>
                <dd class="col-sm-9"><%= I18n.t(@url.is_enabled) %></dd>

                <dt class="col-sm-3"><%= I18n.t('urls.attributes.description') %></dt>
                <dd class="col-sm-9"><%= @url.description || '---' %></dd>

                <% if @url.tags.any? %>
                  <dt class="col-sm-3"><%= I18n.t('urls.attributes.tags') %></dt>
                  <dd class="col-sm-9"><%= @url.tags.collect{|t| link_to(t.name, tag_url(t))}.join(', ').html_safe %></dd>
                <% end %>

                <% if @url.starts_at %>
                  <dt class="col-sm-3"><%= I18n.t('urls.attributes.starts_at') %></dt>
                  <dd class="col-sm-9"><%= I18n.l(@url.starts_at) %></dd> 
                <% end %>
                
                <% if @url.ends_at %>
                  <dt class="col-sm-3"><%= I18n.t('urls.attributes.ends_at') %></dt>
                  <dd class="col-sm-9"><%= I18n.l(@url.ends_at) %></dd> 
                <% end %>

                <dt class="col-sm-3"><%= I18n.t('urls.attributes.created_by') %></dt>
                <dd class="col-sm-9">
                  <% if @url.created_by %>
                    <%= current_user.is_admin? ? link_to(@url.created_by.username, user_url(@url.created_by)) : @url.created_by.username %>
                  <% else %>
                    <%= I18n.t('users.messages.unknown-user') %>
                  <% end %>
                </dd>

                <dt class="col-sm-3"><%= I18n.t('urls.attributes.created_at') %></dt>
                <dd class="col-sm-9"><%= I18n.l(@url.created_at) %></dd>

                <% if @url.updated_by_id %>
                  <dt class="col-sm-3"><%= I18n.t('urls.attributes.updated_by') %></dt>
                  <dd class="col-sm-9"><%= @url.updated_by&.username || '---' %></dd>

                  <dt class="col-sm-3"><%= I18n.t('urls.attributes.updated_at') %></dt>
                  <dd class="col-sm-9"><%= I18n.l(@url.updated_at) %></dd>
                <% end %>
              </dl>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
              <div class="text-center">
                <%= image_tag @url.qrcode_url, class: 'img-thumbnail mb-2' %>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <div class="form-action">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  
                  <%= link_to t('actions.list'), urls_path, class: 'btn btn-secondary' %>

                  <div class="float-right">
                    <%= link_to t('actions.edit'), edit_url_path(@url), class: 'btn btn-primary' %>
                    <%= link_to t('urls.actions.destroy'), url_path(@url), data: { turbo_method: :delete, turbo_confirm: t('urls.actions.confirm-destroy')%{url: @url.name} }, class: 'btn btn-danger', title: t('urls.actions.destroy') %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: 'visits/statistics', locals: {object: @url} %>
    <%= render partial: 'comments/comments', locals: {object: @url} %>
  </div>
</section>
