<% visits = object.visits %>
<!-- Histogram for visits -->
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <% title = t(object.class.name.downcase, scope: 'visits.show.per_day.description') %>
    <div class="card card-secondary"  title="<%= title %>">
      <div class="card-header">
        <span class="card-title"><%= t('visits.show.per_day.title', count: visits.count) %></span>
      </div>
      <div class="card-body text-center">
        <%= line_chart visits.group_by_day(:created_at).count, download: {filename: title.downcase.gsub(' ','_')} %>
      </div>
    </div>
  </div>
</div>
<!-- More graphs -->
<div class="row">
  <!-- Pie for OS -->
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="card card-secondary">
      <div class="card-header">
        <span class="card-title"><%= t('visits.show.per_os.title') %></span>
      </div>
      <div class="card-body text-center">
        <%= pie_chart visits.group(:os).count, download: {filename: t('visits.show.per_os.title').downcase.gsub(' ','_')} %>
      </div>
    </div>
  </div>
  <!-- Pie for browser -->
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="card card-secondary">
      <div class="card-header">
        <span class="card-title"><%= t('visits.show.per_browser.title') %></span>
      </div>
      <div class="card-body text-center">
        <%= pie_chart visits.group(:browser_name).count, download: {filename: t('visits.show.per_browser.title').downcase.gsub(' ','_')} %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <!-- Top referers -->
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <% num = 10 %>
    <div class="card card-secondary">
      <div class="card-header">
        <span class="card-title"><%= t('visits.show.top_referers.title', num: num) %></span>
      </div>
      <div class="card-body">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th><%= t('visits.show.top_referers.name') %></th>
              <th><%= t('visits.name') %></th>
            </tr>
          </thead>
          <tbody>
            <% visits.group(:referer).count.sort_by{ |e| e.last }.reverse.take(10).each_with_index do |visit, i| %>
              <tr>
                <td><%= i+1 %></td>
                <td>
                  <% if visit.first.blank? %>
                    <%= t('visits.show.top_referers.direct') %>
                  <% else %>
                    <%= URI.parse(visit.first.to_s)&.host ? link_to(URI.parse(visit.first.to_s), visit.first.to_s, target: '_blank') : visit.first %>
                  <% end %>
                </td>
                <td><%= visit.last %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Top countries -->
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <% num = 10 %>
    <div class="card card-secondary">
      <div class="card-header">
        <span class="card-title"><%= t('visits.show.top_countries.title', num: num) %></span>
      </div>
      <div class="card-body">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th><%= t('visits.show.top_countries.name') %></th>
              <th><%= t('visits.name') %></th>
            </tr>
          </thead>
          <tbody>
            <% visits.group(:country_code).order('count(country_code) desc').limit(num).count.each_with_index do |visit, i| %>
              <tr>
                <td><%= i+1 %></td>
                <td>
                  <% if country = ISO3166::Country.new(visit.first) %>
                    <%= country.translation(I18n.locale) %>
                  <% else %>
                    <%= t('visits.show.top_countries.unknown') %>
                  <% end %>
                </td>
                <td><%= visit.last %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>