<!-- Content -->
<section class="content pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 col-xs-12">
        <div class="card card-primary">
          <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: 'w3-container w3-card-4' }) do |f| %>
            <div class="card-header">
              <h3 class="text-center"><%= t('.resend_unlock_instructions') %></h3>
            </div>
            <div class="card-body">
              <%= errors resource %>

              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <%= f.label :email, class: 'control-label' %>
                    <div class="input-group mb-3">
                      <%= f.text_field :email, autofocus: true, class: 'form-control', required: true %>
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="fa fa-envelope"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="form-action">
                <div class="row text-center">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <%= f.submit t('.resend_unlock_instructions'), class: 'btn btn-primary' %>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="float-right text-right">
                      <%= render "devise/shared/links" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>