<%= form_with(model: user) do |form| %>
  <div class="card-body">
    <%= errors @user %>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="form-group">
          <%= form.label :username, class: 'control-label' %>
          <div class="input-group mb-3">
            <%= form.text_field :username, class: 'form-control', autocomplete: 'off', placeholder: t('users.form.placeholder.username'), required: true %>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fa fa-user" style="font-size: 18px;"></span>
              </div>
            </div>
          </div>
        </div>

        <% if current_user.is_admin? %>
          <div class="form-group row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="custom-control custom-switch float-left mt-2 float-lg-right">
                <%= form.check_box :is_enabled, class: 'form-control custom-control-input' %>
                <%= form.label :is_enabled, class: 'control-label custom-control-label text-muted' %>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="custom-control custom-switch float-left mt-2 float-lg-right">
                <%= form.check_box :is_admin, class: 'form-control custom-control-input' %>
                <%= form.label :is_admin, class: 'control-label custom-control-label text-muted' %>
              </div>
            </div>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :email, class: 'control-label' %>
          <div class="input-group mb-3">
            <%= form.text_field :email, autofocus: true, class: 'form-control', autocomplete: 'off', placeholder: t('users.form.placeholder.email'), required: true %>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fa fa-envelope"></span>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= form.label :password, class: 'control-label' %>
          <div class="input-group mb-3">
            <%= form.password_field :password, class: 'form-control', autocomplete: 'new-password', placeholder: t('users.form.placeholder.password') %>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fa fa-lock" style="font-size: 18px;"></span>
              </div>
            </div>
          </div>
          <small class="text-muted"><%= t 'users.form.password-blank' %></small>
        </div>

        <div class="form-group">
          <%= form.label :password_confirmation, class: 'control-label' %>
          <div class="input-group mb-3">
            <%= form.password_field :password_confirmation, class: 'form-control', autocomplete: 'new-password', placeholder:  t('users.form.placeholder.password-confirmation') %>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fa fa-lock" style="font-size: 18px;"></span>
              </div>
            </div>
          </div>
          <small class="text-muted"><%= t 'users.form.password-blank' %></small>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <div class="form-action">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <%= link_to t('actions.list'), users_path, class: 'btn btn-secondary' if current_user.is_admin? %>

          <div class="float-right">
            <%= form.submit (%w(edit update).include?(action_name) ? t('actions.update') : t('actions.save')), class: 'btn btn-primary' %>
            <%= link_to t('actions.show'), @user, class: 'btn btn-default' if %w(edit update).include?(action_name) %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
