<!-- Content Header -->
<% if current_user.is_admin? %>
  <section class="content-header pt-4">
    <div class="container">
      <div class="row mb-2">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1 class="m-0 float-left"><%= t 'users.actions.list' %></h1>
          <%= link_to t('users.actions.new'), new_user_path, class: 'btn btn-primary float-right' %>
        </div>
      </div>
    </div>
  </section>

  <!-- Content -->
  <section class="content">
    <div class="container" id="users-list">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <table class="table">
            <thead>
              <tr>
                <th><%= t('users.attributes.username') %></th>
                <th class="d-none d-sm-table-cell"><%= t('users.attributes.email') %></th>
                <th class="d-none d-sm-table-cell"><%= t('users.attributes.is_admin') %></th>
                <th><%= t('users.attributes.is_enabled') %></th>
                <th><span class="sr-only"><%= t('actions.actions') %></span></th>
              </tr>
            </thead>
            <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td><%= user.username %></td>
                  <td class="d-none d-sm-table-cell"><%= user.email %></td>
                  <td class="d-none d-sm-table-cell"><%= t "#{user.is_admin}" %></td>
                  <td><%= t "#{user.is_enabled}" %></td>
                  <td class="col-1 text-nowrap">
                    <div class="float-right">
                      <%= link_to '', user_path(user), class: 'mx-1 fa fa-eye', title: t('users.actions.show') %>
                      <%= link_to '', edit_user_path(user), class: 'mx-1 fa fa-edit', title: t('users.actions.edit') %>
                      <%= link_to '', user_path(user), data: { turbo_method: :delete, turbo_confirm: t('users.actions.confirm-destroy')%{user: user.username} }, class: 'mx-1 text-danger fa fa-times', title: t('users.actions.destroy') %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="paginate">
            <small><%= page_entries_info @users, entry_name: '' %></small>
            <div class="pagination pagination-sm">
              <%= paginate @users %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>