<!-- Content -->
<section class="content pt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 col-xs-12">
        <div class="card card-primary">
          <div class="card-header">
            <span class="card-title"><%= t 'users.form.title.new' %></h3>
          </div>
          
          <%= render 'form', user: @user %>
        </div>
      </div>
    </div>
  </div>
</section>

