<!-- Content -->
<section class="content pt-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card card-primary">
          <div class="card-header">
            <span class="card-title"><%= @user.username %></h3>
          </div>

          <div class="card-body">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <dl class="row">
                <dt class="col-sm-3"><%= t 'users.attributes.email' %></dt>
                <dd class="col-sm-9"><%= @user.email %></dd>

                <dt class="col-sm-3"><%= t 'users.attributes.is_admin' %></dt>
                <dd class="col-sm-9"><%= t @user.is_admin %></dd>

                <dt class="col-sm-3"><%= t 'users.attributes.is_enabled' %></dt>
                <dd class="col-sm-9"><%= t @user.is_enabled %></dd>

                <dt class="col-sm-3"><%= t 'users.attributes.sign_in_count' %></dt>
                <dd class="col-sm-9"><%= @user.sign_in_count %></dd>

                <dt class="col-sm-3"><%= t 'users.attributes.current_sign_in_at' %></dt>
                <dd class="col-sm-9"><%= @user.current_sign_in_at.present? ? @user.current_sign_in_at : '---' %></dd>

                <dt class="col-sm-3"><%= t 'users.attributes.current_sign_in_ip' %></dt>
                <dd class="col-sm-9"><%= @user.current_sign_in_ip.present? ? @user.current_sign_in_ip : '---' %></dd>

                <dt class="col-sm-3"><%= I18n.t('users.attributes.created_urls') %></dt>
                <dd class="col-sm-9"><%= @user.urls.collect{|u| link_to(u.name, url_url(u))}.join(', ').html_safe %></dd>

                <dt class="col-sm-3"><%= I18n.t('users.attributes.created_tags') %></dt>
                <dd class="col-sm-9"><%= @user.tags.collect{|t| link_to(t.name, tag_url(t))}.join(', ').html_safe %></dd>
              </dl>
            </div>
          </div>

          <div class="card-footer">
            <div class="form-action">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  
                  <%= link_to t('actions.list'), users_path, class: 'btn btn-secondary' if current_user.is_admin? %>

                  <div class="float-right">
                    <%= link_to t('actions.edit'), edit_user_path(@user), class: 'btn btn-primary' %>
                    <%= link_to t('users.actions.destroy'), user_path(@user), data: { turbo_method: :delete, turbo_confirm: t('users.actions.confirm-destroy')%{user: @user.username} }, class: 'btn btn-danger', title: t('users.actions.destroy') if current_user.is_admin? %>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <%= render partial: 'comments/comments', locals: {object: @user} %>
  </div>
</section>
