<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'w3-container w3-card-4' }) do |f| %>
  <h2><%= t('.change_your_password') %></h2>

  <%= render "devise/shared/error_messages", resource: resource %>

  <%= f.hidden_field :reset_password_token %>

  <% title = t('devise.shared.minimum_password_length', count: @minimum_password_length) %>

  <div class="w3-section">
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'w3-input', placeholder: t('users.form.password-placeholder') %>
    <%= f.label :password, t('.new_password') %><br />
    <% if @minimum_password_length %>
      <em><%= title %></em><br />
    <% end %>
  </div>

  <div class="w3-section">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'w3-input', placeholder: t('users.form.password-confirmation-placeholder') %>
    <%= f.label :password_confirmation, t('.confirm_new_password') %><br />
  </div>

  <div class="w3-section">
    <%= f.submit t('.change_my_password'), class: 'w3-btn w3-teal' %>
  </div>

  <div class="w3-section">
    <%= render "devise/shared/links" %>
  </div>
  <br>
<% end %>

