<!-- Subheader -->
<div class="full-width bg-dark mt-4 p-4">
  <div class="text-center text-white">
    <p>
      <h4><%= t('layout.title') %></h4>
      <h1 class="w3-animate-bottom">URL Shortener</h1>
    </p>
  </div>
</div>
<div class="full-width text-center p-4">
  <div class="row">
    <div class="col-sm p-3">
      <div class="card" style="min-height:500px">
        <div class="card-body">
          <p class="h3">Simple URLs</p><br>
          <p><i class="fa fa-desktop" style="font-size:120px"></i></p>
          <p>Customizable slugs</p>
          <p>Campaign management</p>
          <p>Designed for working groups</p>
          <p>Easy to install on your own infraestructure</p>
        </div>
      </div>
    </div>

    <div class="col-sm p-3">
      <div class="card" style="min-height:500px">
        <div class="card-body">
          <p class="h3">QR codes</p><br>
          <p><i class="fa fa-qrcode" style="font-size:120px"></i></p>
          <p>QR codes generation (.png or .jpeg formats)</p>
          <p>Styles definition</p>
        </div>
      </div>
    </div>

    <div class="col-sm p-3">
      <div class="card" style="min-height:500px">
        <div class="card-body">
          <p class="h3">Statistics</p><br>
          <p><i class="fa fa-signal" style="font-size:120px"></i></p>
          <p>Viewers statistics</p>
          <p>GeoIP information (visitors by countries)</p>
          <p>Campaign grouped statistics</p>
        </div>
      </div>
    </div>
  </div>
</div>
