<!-- Subheader -->
<div class="full-width bg-dark mt-4 p-4">
  <div class="text-center text-white">
    <p>
      <h4><%= t('layout.title') %></h4>
      <h1 class="w3-animate-bottom">URL Shortener</h1>
    </p>
  </div>
</div>
<div class="full-width text-center p-4">
  <div class="row">
    <div class="col-sm p-3">
      <div class="card" style="min-height:500px">
        <div class="card-body">
          <p class="h3">URLs simples</p><br>
          <p><i class="fa fa-desktop w3-margin-bottom w3-text-theme" style="font-size:120px"></i></p>
          <p>Personalización del slug</p>
          <p>Gestión de campañas</p>
          <p>Diseñado para grupos de trabajo</p>
          <p>Facilidad de instalación</p>
        </div>
      </div>
    </div>

    <div class="col-sm p-3">
      <div class="card" style="min-height:500px">
        <div class="card-body">
          <p class="h3">Códigos QR</p><br>
          <p><i class="fa fa-qrcode w3-margin-bottom w3-text-theme" style="font-size:120px"></i></p>
          <p>Generación de códigos QR</p>
          <p>Elección de estilos</p>
        </div>
      </div>
    </div>

    <div class="col-sm p-3">
      <div class="card" style="min-height:500px">
        <div class="card-body">
          <p class="h3">Estadísticas de uso</p><br>
          <p><i class="fa fa-signal w3-margin-bottom w3-text-theme" style="font-size:120px"></i></p>
          <p>Estadísticas de visitas</p>
          <p>Información georeferenciada (visitantes por país)</p>
          <p>Agrupación por campañas</p>
        </div>
      </div>
    </div>
  </div>
</div>
