<%= form_with(model: tag) do |form| %>
  <div class="card-body">
    <%= errors @tag %>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="form-group row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <%= form.text_field :name, class: 'form-control form-control-border', autocomplete: 'off', placeholder: t('tags.form.placeholder.name'), required: true %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <%= form.text_area :description, class: 'form-control form-control-border', autocomplete: 'off', placeholder: t('tags.form.placeholder.description'), required: false %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <div class="form-action">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <%= link_to t('actions.list'), tags_path, class: 'btn btn-secondary' %>

          <div class="float-right">
            <%= form.submit (%w(edit update).include?(action_name) ? t('actions.update') : t('actions.save')), class: 'btn btn-primary' %>
            <%= link_to t('actions.show'), @tag, class: 'btn btn-default' if %w(edit update).include?(action_name) %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
