<!-- Content Header -->
<% if current_user %>
  <section class="content-header pt-4">
    <div class="container">
      <div class="row mb-2">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <h1 class="m-0 float-left"><%= t 'tags.actions.list' %></h1>
          <%= link_to t('tags.actions.new'), new_tag_path, class: 'btn btn-primary float-right' %>
        </div>
      </div>
    </div>
  </section>

  <!-- Content -->
  <section class="content">
    <div class="container" id="users-list">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <table class="table">
            <thead>
              <tr>
                <th><%= t('tags.attributes.name') %></th>
                <th><%= t('tags.attributes.created_by') %></th>
                <th><span class="sr-only"><%= t('actions.actions') %></span></th>
              </tr>
            </thead>
            <tbody>
              <% @tags.each do |tag| %>
                <tr>
                  <td><%= tag.name %></td>
                  <td><%= tag.created_by&.username %></td>
                  <td class="col-1 text-nowrap">
                    <div class="float-right">
                      <%= link_to '', tag_path(tag), class: 'mx-1 fa fa-eye', title: t('tags.actions.show') %>
                      <%= link_to '', edit_tag_path(tag), class: 'mx-1 fa fa-edit', title: t('tags.actions.edit') %>
                      <%= link_to '', tag_path(tag), data: { turbo_method: :delete, turbo_confirm: t('tags.actions.confirm-destroy')%{tag: tag.name} }, class: 'mx-1 text-danger fa fa-times', title: t('tags.actions.destroy') %>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class="paginate">
            <small><%= page_entries_info @tags, entry_name: '' %></small>
            <div class="pagination pagination-sm">
              <%= paginate @tags %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
