<!-- Content -->
<section class="content pt-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card card-primary">
          <div class="card-header">
            <span class="card-title"><%= t('models.tag.one') + ': ' + @tag.name %></h3>
          </div>

          <div class="card-body">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <dl class="row">
                <dt class="col-sm-3"><%= I18n.t('tags.attributes.description') %></dt>
                <dd class="col-sm-9"><%= @tag.description || '---' %></dd>

                <dt class="col-sm-3"><%= I18n.t('tags.attributes.used_on') %></dt>
                <dd class="col-sm-9"><%= @tag.urls.collect{|u| link_to(u.name, url_url(u))}.join(', ').html_safe %></dd>

                <dt class="col-sm-3"><%= I18n.t('tags.attributes.created_by') %></dt>
                <dd class="col-sm-9">
                  <% if @tag.created_by %>
                    <%= current_user.is_admin? ? link_to(@tag.created_by.username, user_url(@tag.created_by)) : @tag.created_by.username %>
                  <% else %>
                    <%= I18n.t('users.messages.unknown-user') %>
                  <% end %>
                </dd>

                <dt class="col-sm-3"><%= I18n.t('tags.attributes.created_at') %></dt>
                <dd class="col-sm-9"><%= I18n.l(@tag.created_at) %></dd>

                <% if @tag.updated_by_id %>
                  <dt class="col-sm-3"><%= I18n.t('tags.attributes.updated_by') %></dt>
                  <dd class="col-sm-9"><%= @tag.updated_by&.username || '---' %></dd>

                  <dt class="col-sm-3"><%= I18n.t('tags.attributes.updated_at') %></dt>
                  <dd class="col-sm-9"><%= I18n.l(@tag.updated_at) %></dd>
                <% end %>
              </dl>
            </div>
          </div>

          <div class="card-footer">
            <div class="form-action">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  
                  <%= link_to t('actions.list'), tags_path, class: 'btn btn-secondary' %>

                  <div class="float-right">
                    <%= link_to t('actions.edit'), edit_tag_path(@tag), class: 'btn btn-primary' %>
                    <%= link_to t('tags.actions.destroy'), tag_path(@tag), data: { turbo_method: :delete, turbo_confirm: t('tags.actions.confirm-destroy')%{tag: @tag.name} }, class: 'btn btn-danger', title: t('tags.actions.destroy') %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: 'visits/statistics', locals: {object: @tag} %>
    <%= render partial: 'comments/comments', locals: {object: @tag} %>
  </div>
</section>
