        <% google_enabled = ENV['GOOGLE_CLIENT_ID'].present? && ENV['GOOGLE_CLIENT_SECRET'].present? %>
        <% custom_enabled = ENV['OAUTH2_PROVIDER_URL'].present? &&
                            ENV['OAUTH2_CLIENT_ID'].present? && ENV['OAUTH2_CLIENT_SECRET'].present? %>
        <% if request.fullpath.eql?("/users/sign_in") &&
              (google_enabled || custom_enabled) %>
          <div class="card col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <div class="card-header text-center"><h3><%= t('devise.sessions.oauth2.title') %></h3></div>
              <div class="card-body text-center">
                <% if google_enabled %>
                  <p class="pt-5">
                    <%= t('devise.sessions.oauth2.google.comment') %>
                  </p>
                  <%= button_to (t('devise.sessions.oauth2.google.action') + ' ' + fa_icon('google')).html_safe, user_google_oauth2_omniauth_authorize_path, data: { turbo: false }, class: 'btn btn-primary' %>
                <% end %>
                <% if custom_enabled %>
                  <% provider_name = ENV['OAUTH2_PROVIDER_NAME'].present? ? ENV['OAUTH2_PROVIDER_NAME'] : 'OAuth2' %>
                  <p class="pt-5">
                    <%= t('devise.sessions.oauth2.custom.comment')%{provider: provider_name} %>
                  </p>
                  <% action_label = t('devise.sessions.oauth2.custom.action')%{provider: provider_name}%>
                  <%= button_to (action_label + ' ' + fa_icon('id-card')).html_safe, user_custom_oauth2_omniauth_authorize_path, data: { turbo: false }, class: 'btn btn-primary' %>
                <% end %>
                <p class="pt-5">
                  <%= t('devise.sessions.oauth2.condition') %>
                </p>
              </div>
            </div>
          </div>
        <% end %>