<!-- Content -->
<section class="content pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="card-deck justify-content-center">
        <div class="card col-lg-5 col-md-5 col-sm-12 col-xs-12">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'w3-container w3-card-4'}) do |f| %>
            <div class="card-header text-center"><h3><%= t('devise.sessions.password.title') %></h3></div>
            <div class="card-body">
              <div class="form-group">
                <%= f.label :email, class: 'control-label' %>
                <div class="input-group mb-3">
                  <%= f.text_field :email, autofocus: true, class: 'form-control', required: true %>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fa fa-envelope"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :password, class: 'control-label' %>
                <div class="input-group mb-3">
                  <%= f.password_field :password, class: 'form-control', required: true %>
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <span class="fa fa-lock" style="font-size: 18px;"></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row text-right">
                <% if devise_mapping.rememberable? -%>
                  <div class="col-12">
                    <%= f.check_box :remember_me, class: 'icheck' %>
                    <%= f.label :remember_me, class: 'control-label' %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="card-footer">
              <div class="form-action">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <%= f.submit t('.sign_in'), class: 'btn btn-primary' %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="float-right text-right">
                      <%= render "devise/shared/links" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <%= render 'new_oauth2' %>
      </div>
    </div>
  </div>
</section>
