    /* Fade-Out Effect */
    .fadeout {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 2s, opacity 2s linear;
    }
    .w3-animate-bottom {
      position:relative;
      animation:animatebottom 0.4s
    }
    @keyframes animatebottom{
      from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}
    }