<% if resource.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong><%= "#{ t("models.#{resource.class.name.underscore}.one") } #{ t('errors.contains') } #{ pluralize(resource.errors.count, 'error', locale: I18n.locale) }" %></strong>
    <button type="button" class="btn-close pt-0 pr-0" data-bs-dismiss="alert" aria-label="Close"></button>

    <ul class="pl-3">
      <% resource.errors.full_messages.each do |message| %>
        <li><small><%= message %></small></li>
      <% end %>
    </ul>
  </div>
<% end %>
