<!-- Footer -->
<footer class="main-footer text-center">
  <br>
  <div>
    <strong><%= Date.current.year %> SitioDistinto Punto Net</strong>
  </div>
  <div>   
    <a href="#myHeader" class="link-dark"><%= t('layout.footer.go-to-top') %>&nbsp;<%= fa_icon 'chevron-circle-up', class: 'fa-chevron-circle-up' %></a>
  </div>
</footer>
