<nav class="main-header navbar navbar-expand-md navbar-dark gray-dark">
  <div class="container">
    <a href="<%= current_user ? AdminDomain.admin_url : root_path %>" class="navbar-brand ml-2">
      <%= image_tag 'shortener-logo.png', class: 'brand-image', alt: t('layout.title') %>
    </a>

    <!-- Right navbar links -->
    <%= render partial: 'layouts/menu' %>
    <%= render partial: 'layouts/user' %>
    <%= render partial: 'layouts/languages' %>
  </div>
</nav>
