<!-- Languages Navigation -->
<ul class="order-1 order-md-3 navbar-nav navbar-no-expand">
  <div class="dropdown">
    <a class="nav-link nav-icon" data-bs-toggle="dropdown" href="#">
      <%= I18n.locale %> <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
      <% I18n.available_locales.each do |lang| %>
        <li><%= link_to t("languages.#{lang}"), url_for(locale: lang), class: 'dropdown-item' %></li>
      <% end %> 
    </ul>
  </div>
</ul>