<!-- Menu Navigation -->
<button class="navbar-toggler order-1 ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
  <div class="collapse navbar-collapse order-3 ml-auto" id="navbarCollapse">
    <ul class="nav navbar-nav">
      <% if current_user && AdminDomain.matches?(request) %>
        <li class="nav-item <%= 'active' if controller_name == 'urls' %>" title="<%= t('navbar.urls.title') %>">
          <%= link_to t('navbar.urls.label'), urls_path, class: 'nav-link' %>
        </li>
        <li class="nav-item <%= 'active' if controller_name == 'tags' %>" title="<%= t('navbar.tags.title') %>">
          <%= link_to t('navbar.tags.label'), tags_path, class: 'nav-link' %>
        </li>
        <% if current_user.is_admin? %>
          <li class="nav-item <%= 'active' if controller_name == 'users' %>" title="<%= t('navbar.users.title') %>">
            <%= link_to t('navbar.users.label'), users_path, class: 'nav-link' %>
          </li>
        <% end %>
      <% else %>
        <li class="nav-item" title="<%= t('navbar.admin.title') %>">
          <%= link_to t('navbar.admin.label'), AdminDomain.admin_url, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</ul>
