<div id="messages_div">
  <% if flash[:notice] %>
    <% msg = flash[:notice].class.name == 'Array' ? flash[:notice].join('. ') : flash[:notice] %>
    <div id="alert" class="alert alert-success alert-dismissible fade show" role="alert">
      <%= fa_icon 'check-circle lg', text: msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <% if flash[:alert] && flash[:alert] != t('devise.failure.unauthenticated') %>
    <% msg = flash[:alert].class.name == 'Array' ? flash[:alert].join('. ') : flash[:alert] %>
    <div id="alert" class="alert alert-warning alert-dismissible fade show" role="alert">
      <%= fa_icon 'info-circle lg', text: msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
  <% if flash[:error] %>
    <% msg = flash[:error].class.name == 'Array' ? flash[:error].join('. ') : flash[:error] %>
    <div id="alert" class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= fa_icon 'exclamation-triangle lg', text: msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</div>