<!-- User profile Navigation -->
<ul class="order-1 order-md-3 navbar-nav navbar-no-expand">
  <% if current_user %>
    <div class="dropdown <%= 'active' if controller_name == 'users' %>">
      <a class="nav-link nav-icon" data-bs-toggle="dropdown" href="#" title="<%= t('layout.header.user-properties') %>">
        <%= fa_icon 'user', class: 'fa-lg' %>
        <span class="sr-only"><%= t('layout.header.user-properties') %></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
        <li>
          <span class="dropdown-header">
            <h3 class="dropdown-item-title"><%= current_user.username %></h3>
            <p class="text-sm"><%= current_user.email %></p>
          </span>
        </li>
        <div class="dropdown-divider"></div>
        <li class="text-center">
          <% link_text = current_user.avatar_url.present? ? image_tag(current_user.avatar_url, title: t('users.actions.profile')) : t('users.actions.profile') %>
          <%= link_to link_text, user_path(current_user.id), class: 'dropdown-item' %>
        </li>
        <li>
          <%= link_to t('devise.sessions.sign_out'), destroy_user_session_path, data: { turbo_method: :delete }, class: 'dropdown-item dropdown-footer' %>
        </li>
      </ul>
    </div>
  <% end %>
</ul>
