<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= t('layout.title') %></title>
    <meta charset="utf-8">
    <meta name="name" content="<%= t('layout.title') %>">
    <meta name="description" content="<%= t('layout.description') %>">
    <meta name="copyright" content="2023, Santiago Ramos">
    <meta name="image" content="<%= image_url 'shortener-logo.png' %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-language" content="<%= I18n.locale %>">
    <% I18n.available_locales.each do |lang| %>
      <link rel="alternate" href="<%= url_for(locale: lang) %>" hreflang="<%= lang %>" />
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="layout-top-nav layout-navbar-fixed">
    <div class="wrapper">
      <!-- Navbar -->
      <%= render 'layouts/header' %>


      <!-- Content -->
      <div class="content-wrapper">
        <!-- Message -->
        <%= render 'layouts/messages' %>
        <div class="<%= controller_name == 'home' ? '' : 'pt-4' %>">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render 'layouts/footer' %>
  </body>

</html>
